.message-form {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    width: 95vw;
}
body
{
    background-color: #f0f0f0;
}

.message-form-button
{
    border: 1px solid gray;
    background: bisque;
    height: 5vh;
    font-size: 150%;
    width: 20vw;
}

.message-test {
    color: dimgrey;
    font-size: 3vh;
    background: ghostwhite;
    border-radius: 4px;
    border: 1px solid;
    text-align: right;
    box-sizing: border-box;
    padding-left: 0.5em;
    padding-right: 0.5em;
    width: fit-content;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    word-break: break-all;
}

.message-list {
    display: flex;
    flex-direction: column;
    /*justify-content: flex-end;*/
    overflow-y: scroll;
    align-items: flex-end;
    border: 5px solid gainsboro;
    height: 87vh;
    width: 97vw;
}

.message-file {
    display: none;
}

.pin-file-icon {
    background: whitesmoke;
    max-height: 5vh;
    /* padding: 5%; */
    border: 1px solid;
}

.messaging-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
}
