.flex
{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    height: 98vmax;
}
body
{
    background-color: #f0f0f0;
}

.SendButton
{
    font-size: 2vh;
}
